.newproduct-bd {
    margin: 80px;
}


.btn {
    background-color: #1f2323;
    text-decoration: none;
    color: #ffffff;
    font-family: Rubik;
    font-weight: 500;
    border-radius: 20px;
    height: 35px;
    transition: box-shadow 500ms cubic-bezier(0.47, 0, 0.745, 0.715),
    font-weight 200ms cubic-bezier(0.47, 0, 0.745, 0.715), scale 100ms cubic-bezier(0.47, 0, 0.745, 0.715);
    cursor:pointer;
    margin-top: 20px;
    display: block;
    padding: 5px 30px;
  
  }
  
  .btn:hover {
    box-shadow: 0px 5px 0px #23f13876;
    scale: 0.96;
    
  }
  
  
  .app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .budget-display {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .newproduct-form {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .newproduct-form div {
    margin-bottom: 15px;
  
  }
  
.newproduct-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .newproduct-form input, newproduct-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Inter;
  }
